version: '3.9'
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports: ["5432:5432"]
  redis:
    image: redis:7
    ports: ["6379:6379"]
  api:
    build: .
    environment:
      PG_URL: postgres://postgres:postgres@db:5432/orders
      REDIS_URL: redis://redis:6379
      PORT: 3000
    ports: ["3000:3000"]
    depends_on:
      - db
      - redis
